body{
  background: url("img/back.jpg") no-repeat center center;
  background-size: cover;
}
.thumbnail img{
  height:300px;
    width:100%;
}
.thumbnail{
  text-align: center;
  height: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.modal-header{
  background-color: #337ab7;
  color:white;
}
#banner_image{
 padding-bottom: 50px;
 text-align: center;
 color: #f8f8f8;
  min-height: 200px;
background: url("img/banner.jpg") no-repeat center center;
background-size: cover;
}
#banner_content{
  position: relative;
 padding-top: 6%;
 padding-bottom: 6%;
 margin-top: 12%;
 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.5);
 color:white;
 font-size: 100px;
 max-height: 600px;
 margin-left: 10%;
 margin-right: 10%;
}
.text{
  font-size: 10px;
  height: 60px;

}
.tevents{
  text-align: center;
  height: 100%;
}
#headevent{
  font-size: 80px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .background-image
  {
    background-image:url("img/bg1.jpg");
    background-size:cover;

  }

body{
  background-image:url("img/bg.jpg");
  background-size:cover;
}
footer{

  background-color:#6666b2;
  margin-bottom:0px;
  padding:1px;
  font-size:20px;
}
