.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .background-image
  {
    background-image:url("img/bg1.jpg");
    background-size:cover;

  }

body{
  background-image:url("img/bg.jpg");
  background-size:cover;
}
footer{

  background-color:#6666b2;
  margin-bottom:0px;
  padding:1px;
  font-size:20px;
}
